<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lenmotion.donut.system.mapper.SysNoticeMapper">

    <update id="incReadNum">
        update sys_notice set read_num = read_num + 1 where id = #{noticeId}
    </update>

</mapper>